    <!DOCTYPE html
              PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
              "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <div class="title">
				Steganography: the practice of concealing messages or information within other nonsecret text or data.
            <br />
        </div>
        <div class="body">
            <p>
                This is an instructional page to showcase the steganography library I created for my computer networks class.
				<br /><br />
                You should see two images below. The first one is the original and the second has your computers IP address encoded into it. 
                If you can't see the difference, then it's working! Go ahead and save the image then run it through the 
				<a href="./decoder.jar">decoder</a>. 
                It should spit out the IP from the computer which originally requested the picture. <br>
				<a href="./decoder.jar">You can download the decoder here.</a> Place the image same directory as the decoder then enter
				the command "java -jar decoder.jar", enjoy!
				<br /><br />
				Created by Paul Mbusa<br>
				<a href="https://www.github.com/pmbusa">For the source, check my github at github.com/pmbusa</a>
            </p>
        </div>
        <div class="body">
            <p>
                <img src=${dogs} alt="The dog should be here, unmodified..." /> <br /><br />

                Here is the modified image:<br />
                <img src="./stega" alt="The modified image should be right here..." />
            </p>

        </div>
    </body>
</html>