    <!DOCTYPE html
              PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
              "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title></title>
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
    </head>
    <body>
        <div class="title">
            Welcome to my page!
            <br />
            <br />
        </div>
        <div class="body">
            Everything on here is private information. Do not share anything, I'll know who did it.<br /><br />
        </div>
        <div class="body">
            So, here we are. Isn't this website ${adjective}?!<br />
            Check out this picture of a dog I found on the internet!<br />

            <img src=${dog} alt="The dog should be here" /> <br /><br />

            How about the Master Chief?<br />
            <img src=${mc} alt="The Master Chief should be here..." />

            <br /><br />here he is with a better thing to do the image coding<br />
            <img src="http://localhost:4567/picture.png" />


        </div>
    </body>
</html>